
user  nginx;
worker_processes  {{ ansible_processor_cores }};

{% for module in nginx_modules %}
load_module modules/{{ module }}.so;
{% endfor %}

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr $host $remote_user [$time_local] '
                      '"$request" $status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for" $request_time $upstream_response_time';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    tcp_nopush      on;

    keepalive_timeout  75 20;

    client_header_timeout  3m;
    client_body_timeout    3m;
    send_timeout           3m;

    client_header_buffer_size    1k;
    large_client_header_buffers  4 4k;

    client_max_body_size {{ nginx_client_max_body_size }};

    gzip  on;
    gzip_min_length  1100;
    gzip_buffers     4 8k;
    gzip_static on;
    gzip_comp_level 7;
    #gzip_types text/plain text/html text/css image/bmp;

    output_buffers   1 32k;
    postpone_output  1460;

    server_tokens off;

    {% if nginx_set_real_ip_from is defined %}
    set_real_ip_from {{ nginx_set_real_ip_from }};
    real_ip_header {{ nginx_real_ip_header | default('X-Real-IP') }};
    {% endif %}

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites.d/*.conf;
}
